/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 #amsa-voting-proxy-table-wrapper {
    max-height: 50vh; /* Adjust the height as needed */
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: hidden; /* Hides horizontal scroll bar */
}